p {font-size: 18px}
* {color:#fff; background-color:#333}
h1 {border-style: none none solid none; border-color:#F63}
h2, h3, h4, h5, h6 {border-style: none none solid none; border-size:8px; border-color:#6F3}
