p { font-size: 25px }
* {
    color:#fff;
    background-color:#333
}
h1 {
    border-style: none none solid none;
    border-width:8px;
    border-color:#F53;
    font-size:55px
}
h2, h3, h4 {
    border-style: none none solid none;
    border-width:4px;
    border-color:#53F;
    font-size:35px
}
